scripts/ReaClassical_Changelog_Formatter.html
Installers/*.run
Installers/*.exe
Installers/win_go_installer/*.zip
Installers/win_go_installer/*.exe
Installers/Makeself builds/linux/*.zip
Installers/Makeself builds/linux/*.tar.xz
Installers/Makeself builds/macos/*.zip
Installers/Makeself builds/macos/*.dmg
Resource Folder/Resource_Folder_Base.zip
